@use '../utils' as *;

.heading {
	display: flex;
	flex-direction: column;
	row-gap: rem(10);

	&:not(&_not-indent) {
		margin-block-end: rem(29);

		@include tablet {
			margin-block-end: rem(25);
		}

		@include mobile {
			margin-block-end: rem(20);
		}
	}

	&__subtitle {
		max-inline-size: rem(620);
		line-height: 1.8;
		color: color(--color-text-light-secondary);
	}
}
