@use '../utils' as *;

html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
	scroll-padding-block-start: var(--header-block-size);
}

body {
	font-family: var(--font-primary);
	font-size: var(--text-base);
	color: color(--color-text-light-primary);
	background-color: color(--color-bg-dark-primary);
}

:not(:defined) {
	visibility: hidden;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
