@use '../utils' as *;

:root {
	--font-primary: 'Montserrat', sans-serif;
	--font-secondary: 'Manrope', sans-serif;

	// colors
	--color-accent-primary: 58 122 254;
	--color-text-light-primary: 255 255 255;
	--color-bg-dark-primary: 2 2 2;
	--color-bg-light-primary: 255 255 255;
	--color-stroke-primary: 51 51 51;
	--color-stroke-secondary: 98 98 98;
	--color-dark-placeholder: 24 24 24;

	// typography

	--text-base: #{fluid-rem(16, 14)};

	// container

	--container-padding-x: #{rem(40)};
	--container-inline: #{rem(1216)};

	@include tablet {
		--container-padding-x: #{rem(20)};
	}

	@include mobile {
		--container-padding-x: #{rem(16)};
	}

	// z-index

	--z-base: 0;
	--z-layer-1: 100;
	--z-header: 1000;
	--z-dialog: 1100;

	// radius

	--radius-lg: #{rem(50)};
}
